<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Docdown.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <userSettings>
        <Docdown.Properties.Settings>
            <setting name="API" serializeAs="String">
                <value>http://localhost:3030</value>
            </setting>
            <setting name="WorkspacePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Template" serializeAs="String">
                <value />
            </setting>
            <setting name="UseOfflineCompiler" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Csl" serializeAs="String">
                <value />
            </setting>
        </Docdown.Properties.Settings>
    </userSettings>
</configuration>
