<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.4" targetFramework="net461" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net47" />
  <package id="Costura.Fody" version="3.2.2" targetFramework="net47" />
  <package id="Fody" version="3.3.5" targetFramework="net47" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.8.11" targetFramework="net47" />
  <package id="LibGit2Sharp" version="0.26.0" targetFramework="net47" />
  <package id="LibGit2Sharp.NativeBinaries" version="2.0.267" targetFramework="net47" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net47" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net47" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net47" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net461" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net461" />
</packages>